
.prop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    box-shadow: rgba(0, 0, 0, 0.8);
}

.prop form {
    max-width: 80%;
    padding: 36px 64px;
    border-radius: 20px;
    background-color: #F2F2F2;

}

.prop h1 {
    font-family: "Prata", serif;
}